<table border="1" cellpadding="10">
    <thead>
        <tr>
            <th *ngFor="let head of userInfo.header">{{head}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userInfo.data">
            <td>{{user['id']}}</td>
            <td>{{user['name']}}</td>
            <td>{{user['state']}}</td>
            <td>{{user['zip']}}</td>
            <td>{{user['amount']}}</td>
            <td>{{user['qty']}}</td>
            <td>{{user['item']}}</td>
        </tr>
    </tbody>
</table>
